/**
 *  @description: 项目依赖的stylus样式混合方法
 *  @author: 则丸
 *  @weChat: yuwq1098
 *  @producer: 海康威视 & 易立德
 * */
/* 完全居中布局 */
_completeCenter(left = 0, right = 0, top = 0, bottom = 0, $position = absolute)
    position $position
    top top
    right right
    bottom bottom
    left left
    margin auto